<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
	<dict>
		<key>timeStr</key>
		<string>30分钟前</string>
		<key>imgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>discStr</key>
		<string>我是一只小鸭子</string>
		<key>hotStr</key>
		<string>北京天安门</string>
	</dict>
</array>
</plist>
