<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>hotImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>titleStr</key>
		<string>昵称</string>
		<key>timeStr</key>
		<string>10天之前</string>
		<key>commentStr</key>
		<string>哎哟哎哟WithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewWithTableView:(UITableView *)tableViewv</string>
		<key>footDiscStr</key>
		<string>足迹描述</string>
	</dict>
	<dict>
		<key>headImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>hotImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>titleStr</key>
		<string>昵称</string>
		<key>timeStr</key>
		<string>10天之前</string>
		<key>commentStr</key>
		<string>哎哟哎哟</string>
		<key>footDiscStr</key>
		<string>足迹描述</string>
	</dict>
	<dict>
		<key>headImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>hotImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>titleStr</key>
		<string>昵称</string>
		<key>timeStr</key>
		<string>10天之前</string>
		<key>commentStr</key>
		<string>哎哟哎哟</string>
		<key>footDiscStr</key>
		<string>足迹描述</string>
	</dict>
	<dict>
		<key>headImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>hotImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>titleStr</key>
		<string>昵称</string>
		<key>timeStr</key>
		<string>10天之前</string>
		<key>commentStr</key>
		<string>哎哟哎哟</string>
		<key>footDiscStr</key>
		<string>足迹描述</string>
	</dict>
	<dict>
		<key>headImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>hotImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>titleStr</key>
		<string>昵称</string>
		<key>timeStr</key>
		<string>10天之前</string>
		<key>commentStr</key>
		<string>哎哟哎哟</string>
		<key>footDiscStr</key>
		<string>足迹描述</string>
	</dict>
	<dict>
		<key>headImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>hotImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>titleStr</key>
		<string>昵称</string>
		<key>timeStr</key>
		<string>10天之前</string>
		<key>commentStr</key>
		<string>哎哟哎哟</string>
		<key>footDiscStr</key>
		<string>足迹描述</string>
	</dict>
	<dict>
		<key>headImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>hotImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>titleStr</key>
		<string>昵称</string>
		<key>timeStr</key>
		<string>10天之前</string>
		<key>commentStr</key>
		<string>哎哟哎哟</string>
		<key>footDiscStr</key>
		<string>足迹描述</string>
	</dict>
	<dict>
		<key>headImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>hotImgUrlStr</key>
		<string>http://b.hiphotos.baidu.com/image/pic/item/b7fd5266d01609242ac2cc1bd60735fae7cd34ce.jpg</string>
		<key>titleStr</key>
		<string>昵称</string>
		<key>timeStr</key>
		<string>10天之前</string>
		<key>commentStr</key>
		<string>哎哟哎哟</string>
		<key>footDiscStr</key>
		<string>足迹描述</string>
	</dict>
</array>
</plist>
